{{outlet}}
Hello
<div>
  Read all:
  <ul>
    {{#each model as |carpet|}}
      <li>{{carpet.name}}, id {{carpet.id}}</li>
    {{/each}}
  </ul>
</div>

<div>
  {{input value=newCarpet placeholder=" s"}}
  <button {{action 'createCarpet'}}>Create</button>
</div>
